{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<section class="navbarMargin">
<h1>Votre panier</h1>

    <table class="table">
        <thead>
            <th>
                <th>Produit</th>
                <th>Image</th>
                <th>Prix</th>
                <th>quantité</th>
                <th>total</th>
                <th>Action</th>
            </th>
        </thead>
        <tbody>


        </tbody>

        <pre>
            {{ dump() }}
        </pre>
    </table>


</section>
{% endblock %}
