{% extends 'base.html.twig' %}

{% block title %}Dropkick{% endblock %}

{% block body %}

<div align="center">

<div id="slidertype1" style="display:none">

<img src="{{asset('uploads/Orleans.jpg')}}" alt="orleans">
</div>


<div id="slidertype2" style="display:none">

<img src="{{asset('uploads/troyes.jpg')}}" alt="troyes">
</div>


<div id="slidertype3" style="display:none">

<img src="{{asset('uploads/reims.jpg')}}" alt="reims">
</div>


</div>
{% endblock %}
