{{ form_start(form) }}

<section class="pageEvent navbarMargin">
    {{ form_widget(form.contentCart, {'value' : 'Validation'}, { 'attr':{'class': 'hidden'} } ) }}

    </section>
    <button class="btn btn-success">{{ button_label|default('Validation') }}</button>
{{ form_end(form) }}
