{% extends 'base.html.twig' %}

{% block title %}Edit Cart{% endblock %}

{% block body %}
    <h1>Edit Cart</h1>

    {{ include('cart_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cart_order_index') }}">back to list</a>

    {{ include('cart_order/_delete_form.html.twig') }}
{% endblock %}
