/*DUCUMENT INFORMATION
    - Document : Dropkick
    - Version 1.0.0
    - Autor : Jonathan

*/

/* COLORS
    - Defaut Body text    #eee
    - h1                  #eee
    - h2                  #000
    - h3

    - button
    - button:hover
    - icon                #008000   

    - Border

    */

/* FONTS
    - Default       IrishUncialfabeta-Bold
    - Subtitle

/* CSS DIRECTORY

    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/
/* GLOBAL
==============================================*/

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
@font-face {
    font-family: 'irish';
    src: url('/public/font/IrishUncialfabeta-Bold.ttf');
 }

*{
    font-family: 'irish';
}

// margin Top des autres section pour adapter avec la nav bar
.navbarMargin{
    margin-top: 80px;
}


// NAVIGATION HOME ===================================================================================================
nav{
    background-color: rgba(0, 0, 0, 0.61);
}
.navH{
    font-size: 2rem;
    color: white !important;
}

.blocLienPubs{
    display: flex;
}
.lienPub{
    display: flex;
    width: 100%;

}
.cityPub{
    text-transform: none;
    text-decoration: none;
    color: black;
    font-size: 4rem;
}

// CAROUSSEL =========================================================================================================
header{
  width: 100%;
}

.slide {
    width: 100%;
    transition: transform .1s; /* Animation */
  }
// ===================================================================================================================
