/*DUCUMENT INFORMATION
    - Document : Dropkick
    - Version 1.0.0
    - Autor : Jonathan

*/
/* COLORS
    - Defaut Body text    #eee
    - h1                  #eee
    - h2                  #000
    - h3

    - button
    - button:hover
    - icon                #008000   

    - Border

    */
/* FONTS
    - Default       IrishUncialfabeta-Bold
    - Subtitle

/* CSS DIRECTORY

    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/
/* GLOBAL
==============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  background-color: rgba(0, 77, 4, 0.267);
}

* {
  font-family: 'irish';
}

.navBarAdmin {
  margin-bottom: 160px !important;
}

.navBar, .navBarAdmin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.navBar .nav, .navBarAdmin .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navBar .nav .imgLogo, .navBarAdmin .nav .imgLogo {
  width: 180px;
}

.navBar .nav a, .navBarAdmin .nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar .nav .navHAdmin, .navBarAdmin .nav .navHAdmin {
  color: black;
  font-size: 2rem;
}

.navBar .nav .navH, .navBarAdmin .nav .navH {
  font-size: 2rem;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.61);
}

.pageHome {
  width: 100%;
}

.blocLienPubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lienPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cityPub {
  text-transform: none;
  text-decoration: none;
  color: black;
  font-size: 4rem;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.slide {
  position: relative;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  /* Animation */
  z-index: 1;
}

.slide img {
  width: 100%;
}

.containerSlider {
  position: relative;
  background-color: black;
}

.containerSlider .carousselCarte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 78%;
}

.containerSlider .carousselCarte .lienCarte {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  border: black 3px solid;
  background-color: rgba(12, 71, 22, 0.644);
  font-size: 2rem;
  margin-right: 3em;
  height: 4em;
  font-weight: Bold;
  font-size: 2.5rem;
  width: 100%;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation {
  margin-top: 1em;
}

.blocPresentation {
  height: 20vh;
  border: 2px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: black;
  border: black 3px solid;
  background-color: rgba(12, 71, 22, 0.644);
  border-radius: 5px;
}

.blocPresentationTitle {
  font-size: 2.5rem;
}

.lienMenu {
  font-size: 5rem;
}

.uploadCard {
  background-color: #062a00;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.uploadCard a {
  text-decoration: none;
  color: white;
}

.lieuPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  color: white;
  background-color: #062a00;
}

.lieuPub .lieu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.lieuPub .lieu a {
  text-decoration: none;
  color: white;
}

.blocCarousselProduct {
  height: 20vh;
}

.carousselProduct {
  position: absolute;
  width: 100%;
}

ul > li {
  width: 25%;
  list-style-type: none;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 200px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  color: white;
}

.active {
  opacity: 1;
}

p {
  font-family: sans-serif;
  font-size: 1rem;
  color: #646566;
  line-height: 1.5em;
}

.sports {
  margin-top: 50px;
  height: 90vh;
  background-image: url("../uploads/sports/telebar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sports h1 {
  font-family: 'Rock Salt', cursive;
  color: white;
  z-index: 1;
  text-align: center;
  padding: 25px;
  margin: -34px auto;
  background-color: #a7ab8896;
  border: 1px solid #a7ab88;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 3rem;
}

.sports .blocS {
  margin-top: 100px;
}

.sports .blocS .imgS {
  margin-top: 70px;
  width: 100%;
  height: 35vh;
  opacity: 0.7;
  border: 15px solid black;
  border-radius: 5px;
}

.cart a {
  color: #000;
}

.blocEvent {
  border: 3px black solid;
  padding: 1em;
  border-radius: 15px;
  background-color: #242526;
  color: white;
  margin-top: 6em;
}

.blocEvent .blocEventImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 15em;
}

.blocEvent img {
  border-radius: 15px;
}

.blocEvent .blocEventContent {
  font-size: 1.5rem;
  padding-top: 2em;
}

.blocEvent .blocEventContent #events_contentEvent {
  width: 650px;
}

.createImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px white solid;
}

.createBlocRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.createBlocRight .createNameDateEvent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createBlocRight .blocEventContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createBlocRight .blocEventPlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createBlocRight .blocEventPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageProduct {
  background-image: url(../uploads/fondEcanCarte.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.67;
  margin-top: 80px;
  color: white !important;
}

.pageProduct .pageProdOpacite {
  opacity: 1 !important;
}

.blocCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 77, 4, 0.829);
  font-size: 3rem;
  margin-bottom: 1em;
  border-radius: 5px;
}

.admimCategory {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admimCategory a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.admimCategory a:hover {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

.blocProduct {
  border: 1px solid rgba(255, 255, 255, 0);
  margin-bottom: 1em;
}

.blocProduct .blocArticle {
  background-color: rgba(0, 77, 4, 0.829);
  height: 20vh;
  border-radius: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocProduct .blocArticle .imgProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blocProduct .blocArticle .imgProduct img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  border-radius: 10px;
}

.blocProduct .blocArticle .blocProductSansBtn {
  height: 10vh;
}

.blocProduct .blocArticle .blocBtnProduct, .blocProduct .blocArticle .blocProductStar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocProduct .blocArticle .btnProductAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocProduct .blocArticle .btnProduct {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.blocProduct .blocArticle .productStar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.blocProduct .blocArticle .productAdmin {
  text-align: center;
}

.blocProduct .blocArticle .productAdmin a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #ff8800;
  border-radius: 5px;
  padding: .3em;
}

.blocProduct .blocArticle .productAdmin a:hover {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

.blocProduct .blocArticle:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgba(0, 77, 4, 0.829);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.9s ease-out;
  transition: max-height 0.9s ease-out;
}

.accordion:after {
  content: '\2795';
  /* Unicode character for "plus" sign (+) */
  font-size: 3rem;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  /* Unicode character for "minus" sign (-) */
}
/*# sourceMappingURL=style.css.map */