/*DUCUMENT INFORMATION
    - Document : Dropkick
    - Version 1.0.0
    - Autor : Jonathan

*/
/* COLORS
    - Defaut Body text    #eee
    - h1                  #eee
    - h2                  #000
    - h3

    - button
    - button:hover
    - icon                #008000   

    - Border

    */
/* FONTS
    - Default       IrishUncialfabeta-Bold
    - Subtitle

/* CSS DIRECTORY

    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/
/* GLOBAL
==============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  background-color: #707070;
}

a {
  text-decoration: none;
  text-transform: none;
  color: #000;
}

@font-face {
  font-family: 'irish';
  src: url("../font/IrishUncialfabeta-Bold.ttf");
}

@font-face {
  font-family: 'kelt';
  src: url("../font/Kelt Caps Freehand.ttf");
}

@font-face {
  font-family: 'junius';
  src: url("../font//JuniusIrish.ttf");
}

header {
  width: 100%;
  color: white;
}

.navbar {
  height: 10vh;
  background-color: black;
}

.navbar img {
  max-width: 12em;
  height: 10vh;
}

.navbar .navH {
  font-family: 'kelt';
}

.navbar .navH .logoNavBarGif {
  border-radius: 50px;
}

.navbar .navVisiteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5em;
}

.navbar .nav-link {
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
  font-size: 24px;
  margin-right: 2em;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #a7a5a5 !important;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

header .navbar-toggler {
  background-color: white;
}

.navbar-expand-lg .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.typewriter h2 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0px;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation: typing 6.5s steps(30, end), blink-caret 0.5s infinite;
          animation: typing 6.5s steps(30, end), blink-caret 0.5s infinite;
  padding-left: 24px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.navBarRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
}

.navBarRight img {
  margin-bottom: 5px;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 105%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 105%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #005204;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #005204;
  }
}

.pageHome {
  margin-top: 50px;
  width: 100%;
}

.blocLienPubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.lienActu {
  color: black;
  font-size: 4rem;
  background-color: black;
  width: 100%;
  text-align: center;
}

.lienActu a {
  color: white;
  text-transform: none;
  text-decoration: none;
  font-family: 'Kelt';
}

.lienActu a:hover {
  color: #a7a5a5;
}

.slide {
  position: relative;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  /* Animation */
  z-index: 1;
}

.slide img {
  width: 100%;
}

.containerSlider {
  position: relative;
  background-color: black;
}

.containerSlider .carousselCarte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  top: 15%;
  width: 100%;
}

.containerSlider .carousselCarte .blocTextCarte {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 3em;
}

.containerSlider .carousselCarte .blocTextCarte .text1 {
  font-size: 1rem;
  width: 40%;
  background-color: #fff;
  padding-bottom: 0px;
  -webkit-clip-path: polygon(50% -16%, 89% 122%, -8% 148%, 27% 45%);
          clip-path: polygon(50% -16%, 89% 122%, -8% 148%, 27% 45%);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.containerSlider .carousselCarte .blocTextCarte .text2 {
  width: 40%;
  font-size: 2rem;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-clip-path: polygon(88% 0%, 98% 145%, 17% 140%, 1% -11%);
          clip-path: polygon(88% 0%, 98% 145%, 17% 140%, 1% -11%);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.containerSlider .carousselCarte .blocTextCarte .text3 {
  width: 40%;
}

.containerSlider .carousselCarte .blocTextCarte .text3 a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  color: black;
  font-weight: bold;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  border-radius: 3em;
}

.containerSlider .carousselCarte .blocTextCarte .text3 a:hover {
  -webkit-box-shadow: -9px -4px 39px 10px white;
          box-shadow: -9px -4px 39px 10px white;
  background-color: black;
  color: white;
}

.containerSlider .carousselCarte .blocDetailPub {
  background-color: rgba(0, 0, 0, 0.69);
  max-width: 45%;
  border-radius: 20px;
  margin-left: 1em;
  -webkit-clip-path: polygon(88% 0%, 98% 145%, 17% 140%, 1% -11%);
          clip-path: polygon(88% 0%, 98% 145%, 17% 140%, 1% -11%);
}

.containerSlider .carousselCarte .lienCaroussel {
  background-color: #fff;
  border-radius: 2px;
  color: black;
  text-transform: none;
  font-size: 2rem;
}

.containerSlider .carousselCarte .textCarteLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  font-size: 2rem;
  font-weight: Bold;
  font-size: 2rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  padding-left: 2em;
  font-family: 'kelt';
}

.containerSlider .carousselCarte .textCarte {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: black;
  font-size: 2rem;
  margin-right: 3em;
  font-weight: Bold;
  font-size: 2.5rem;
  width: 100%;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.cityPub {
  text-transform: none;
  color: white;
  text-decoration: none;
  font-family: 'Kelt';
}

.cityPub:hover {
  color: #a7a5a5;
}

.cardDropkick {
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: 'Kelt';
}

.uploadCard {
  background-color: #062a00;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.uploadCard a {
  text-decoration: none;
  font-family: 'Kelt';
  color: white;
}

.lienPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.commandeDropkick {
  background-color: black;
  -webkit-clip-path: polygon(100% 0%, 87% 145%, 17% 140%, 1% -11%);
          clip-path: polygon(100% 0%, 87% 145%, 17% 140%, 1% -11%);
  text-align: center;
  font-size: 4rem;
}

.cardDropkick {
  -webkit-clip-path: polygon(106% 140%, 66% 100%, -16% 224%, 52% -263%);
          clip-path: polygon(106% 140%, 66% 100%, -16% 224%, 52% -263%);
}

.titleProductstar {
  -webkit-clip-path: polygon(73% 0%, 98% 101%, 0% 100%, 32% -11%);
          clip-path: polygon(73% 0%, 98% 101%, 0% 100%, 32% -11%);
  background-color: black;
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'Kelt';
}

.titleProductstar .lienPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.titleProductstar .commandeDropkick, .titleProductstar .cardDropkick {
  text-transform: none;
  text-decoration: none;
  color: black;
  font-size: 4rem;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.presentation {
  margin-top: 2em;
  width: 80%;
  margin: auto;
}

.presentation .rowPresentation {
  margin-bottom: 1em;
}

.blocPresentation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  height: 25vh;
  border: 2px black solid;
  padding: 3em;
  text-align: center;
  color: white;
  border: #707070 10px solid;
  border-radius: 5px;
  max-width: 100%;
}

.blocPresentationTextRight, .blocPresentationTextLeft {
  font-size: 1.5rem;
}

.blocPresentationTextRight .textRight, .blocPresentationTextRight .textLeft, .blocPresentationTextLeft .textRight, .blocPresentationTextLeft .textLeft {
  background-color: #707070;
  text-align: justify;
  font-family: 'junius';
}

.blocPresentationTitleRight p {
  -webkit-clip-path: polygon(34% 0, 96% 0, 66% 100%, 0 100%);
          clip-path: polygon(34% 0, 96% 0, 66% 100%, 0 100%);
  background-color: #062a00;
}

.blocPresentationTitleLeft p {
  -webkit-clip-path: polygon(2% 0, 74% 0, 98% 100%, 26% 100%);
          clip-path: polygon(2% 0, 74% 0, 98% 100%, 26% 100%);
  background-color: #062a00;
}

.blocPresentationText {
  margin: auto;
}

.blocPresentationTitle {
  margin: auto;
  font-size: 2rem;
  font-family: 'Kelt';
}

.lienMenu {
  font-size: 5rem;
}

.lieuPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  color: white;
  background-color: #062a00;
}

.lieuPub .lieu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.lieuPub .lieu a {
  text-decoration: none;
  color: white;
}

.lieuPub .lieu a:hover {
  color: #a7a5a5;
}

.pubName {
  text-transform: uppercase;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  margin-left: 50px;
  font-family: 'kelt';
}

.pubAddress {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.pubPhone {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.pubImg {
  margin-left: 50px;
}

.pubImg img {
  width: 300px;
}

.schedulePub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iFramePub {
  text-align: end;
}

ul {
  list-style-type: none;
}

.blocCarousselProduct {
  height: 40vh;
  width: 80%;
  list-style-type: none;
}

.carousselProduct {
  position: absolute;
  width: 86%;
  margin-top: 1em;
  list-style-type: none;
}

.liCaroussel {
  width: 15%;
  list-style-type: none;
  position: absolute;
  top: 0;
  height: 200px;
  opacity: 0;
  text-align: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  color: white;
}

.liCaroussel .pImgCaroussel {
  text-transform: uppercase;
  font-family: 'Kelt';
}

.active {
  opacity: 1;
}

.blocImgCaroussel {
  font-family: sans-serif;
  font-size: 1rem;
  color: #646566;
  line-height: 1.5em;
}

.blocImgCaroussel .imgCarousselProductStar {
  width: 200px;
  height: 15vh;
  border-radius: 70px;
}

.sports {
  margin-top: 50px;
  height: 90vh;
  background-image: url("../uploads/sports/telebar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sports h1 {
  font-family: 'Rock Salt', cursive;
  color: white;
  z-index: 1;
  text-align: center;
  padding: 25px;
  margin: -34px auto;
  background-color: #a7ab8896;
  border: 1px solid #a7ab88;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 3rem;
}

.sports .blocS {
  margin-top: 100px;
}

.sports .blocS .imgS {
  margin-top: 70px;
  width: 100%;
  height: 35vh;
  opacity: 0.7;
  border: 15px solid black;
  border-radius: 5px;
}

.cart a {
  color: #000;
}

.blocEvent {
  border: 3px black solid;
  padding: 1em;
  border-radius: 15px;
  background-color: #242526;
  color: white;
  margin-top: 6em;
}

.blocEvent .blocEventImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 15em;
}

.blocEvent img {
  border-radius: 15px;
  width: 50%;
}

.blocEvent .blocEventContent {
  font-size: 1.5rem;
  padding-top: 2em;
}

.blocEvent .blocEventContent #events_contentEvent {
  width: 650px;
}

.createImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px white solid;
}

.createBlocRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.createBlocRight .createNameDateEvent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createBlocRight .blocEventContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createBlocRight .blocEventPlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createBlocRight .blocEventPub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#scrollUp {
  position: absolute;
}

.fontFooter {
  font-family: 'Kelt';
}

.pageProduct {
  background-image: url(../uploads/fondEcanCarte.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.67;
  margin-top: 80px;
  color: white !important;
}

.pageProduct .pageProdOpacite {
  opacity: 1 !important;
}

.blocCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 77, 4, 0.829);
  font-size: 3rem;
  margin-bottom: 1em;
  border-radius: 5px;
}

.admimCategory {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admimCategory a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.admimCategory a:hover {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

.blocProduct {
  border: 1px solid rgba(255, 255, 255, 0);
  margin-bottom: 1em;
}

.blocProduct .blocArticle {
  background-color: rgba(0, 77, 4, 0.829);
  height: 20vh;
  border-radius: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocProduct .blocArticle .imgProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blocProduct .blocArticle .imgProduct img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  border-radius: 10px;
}

.blocProduct .blocArticle .blocProductSansBtn {
  height: 10vh;
}

.blocProduct .blocArticle .blocBtnProduct, .blocProduct .blocArticle .blocProductStar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocProduct .blocArticle .btnProductAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocProduct .blocArticle .btnProduct {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.blocProduct .blocArticle .productStar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.blocProduct .blocArticle .productAdmin {
  text-align: center;
}

.blocProduct .blocArticle .productAdmin a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #ff8800;
  border-radius: 5px;
  padding: .3em;
}

.blocProduct .blocArticle .productAdmin a:hover {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

.blocProduct .blocArticle:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active .accordion:hover {
  background-color: rgba(0, 77, 4, 0.829);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.9s ease-out;
  transition: max-height 0.9s ease-out;
}

.accordion:after {
  content: '\2795';
  /* Unicode character for "plus" sign (+) */
  font-size: 3rem;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  /* Unicode character for "minus" sign (-) */
}

/* Full-width input fields */
.loginPage input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */