



body{
    width: 100%;
}


// NAVIGATION HOME ===================================================================================================
nav{
    background-color: rgba(0, 0, 0, 0.61);
}


.navH{
    font-size: 2rem;
    color: white !important;
}


// ===================================================================================================================
