{% extends 'base.html.twig' %}

{% block title %}Partie Presentation{% endblock %}

{% block body %}
    <h1>Presentation site</h1>

    {{ include('presentation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('presentation_index') }}">Retour</a>

{% endblock %}
