{% extends 'base.html.twig' %}

{% block title %}Edit Pubs{% endblock %}

{% block body %}
    <h1>Edit Pubs</h1>

    {{ include('pubs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pubs_index') }}">back to list</a>

    {{ include('pubs/_delete_form.html.twig') }}
{% endblock %}
