{% extends 'admin.html.twig' %}

{% block title %}Modifier Pub{% endblock %}

{% block body %}
<section class="pagePub navbarMargin">
    <h1>Modifier un Pub</h1>

    {{ include('pubs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('pubs_index') }}">Retour</a>
</section>
{% endblock %}
