{% extends 'admin.html.twig' %}

{% block title %}New Pubs{% endblock %}

{% block body %}
<section class="pagePub navbarMargin">

    <h1>Create new Pubs</h1>

    {{ include('pubs/_form.html.twig') }}

    <a href="{{ path('pubsAdmin_index') }}">Retour liste</a>
</section>

{% endblock %}
