{% extends 'base.html.twig' %}

{% block title %}Edhnwwdghit User{% endblock %}

{% block body %}
<section class="pageUser navbarMargin">

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {% if (is_granted('ROLE_USER')) %}

    {{ include('user/_delete_form.html.twig') }}
    <a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
        {% endif %}
    </section>
{% endblock %}
