{% extends 'admin.html.twig' %}

{% block title %}Edit Events{% endblock %}

{% block body %}
<section class="pageEvent navbarMargin">

    <h1>Edit Events</h1>

    {{ include('events/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('eventsAdmin_index') }}">Retour</a>

    </section>
{% endblock %}
