<div class="bg-2 text-center sizefooter" style="border-bottom:5px #0a6704 solid;">
    <div style="text-align: center;">
        <img src="https://symfony.com/logos/symfony_black_03.png" class="img-icon" >
    </div>
</div>
<div class="container-fluid bg-3 text-left" style="text-align:center;">
    <p>Name: {{ name }}</p>
    <p>Message:  {{ message }} </p>
    <hr>
</div>
<div class="bg-1 sizefooter">
    <p><a href="https://www.site.fr/" style="font-size: 15px;color: black;" target="_blank" data-saferedirecturl="https://www.site.fr/">https://www.<wbr>site.fr/</a></p>
    <p style="font-size: 13px;">
</div>